body{
    margin: 0;
    padding: 0;
}


.main-container{
    margin-top: 0vh;
    box-sizing: border-box;
    overflow: auto;
}


header{
    display: flex;
    background-color: bisque;
    justify-content: center;
    gap: 10vw;
}

button{
    border: 0;
    font-size: 1.2rem;
    font-weight: bold;
}
